*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgba(0, 90, 194, 0.658);
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

body{
    background-image: linear-gradient(to left, #69a6c9, #80a4da);
}

.paragrafo{
    color: rgb(63, 112, 168);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -15px;
}

.about{
    color: rgb(63, 112, 168);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -15px;
}

.img-container2{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;
    width: auto;    
    margin-bottom: -200px;  
    margin-top: -240px;    
}

.img-container3{
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 30px;
}

.finalização2{
    color: rgb(63, 112, 168);
    text-align: end;
    font-family: cursive;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5px;
}

.return-container{
        display: flex;
        justify-content: flex-end; 
        margin-top: 5px;
        margin-right: 5px;
}

.return{
    font-size: 25px;
    font-family: cursive;
    color: rgb(0, 54, 116);
    text-align: end;
}
